/* ===> * <=== means universal symbol - applies to all*/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #3031CF;
}

p {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-top: .5rem;
}

h1 {
  font-size:2.4rem;
}
.container {
  background-color: white;
   /*setting vh is a recipe for pain in responsive design*/
  /* height: 100vh; */
  margin: auto;
  width: 90%;
}

section {
 background-color: #0A0A29;
 color: #fff;
 /* height: 20rem; */
 /*creates lid on top of each section */
 margin-top: 1rem;
 padding: 10rem 0rem;
}

section.about {
padding: 20rem 1rem;
}

/*ipad vertical width*/
@media screen and (min-width: 768px){
  .container {
     background-color: yellow;
    /*height: 100vh; */
    /* margin: 0 auto; */ */
    width: 70rem;
  }
}

/* desktop */
@media screen and (min-width: 1000px){
  .container {
    background-color: red;
    width: 98rem;
  }
}
